@import "../partials/variables";
@import "../partials/mixins";

.navigation {
  @include marge("bottom", 5);

  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 100%;
  padding: 0 #{$marge-goutiere}px;
  padding-bottom: #{calc(4 * 5)}px;
  color: $couleur-nmoyen;
  column-gap: #{calc(4 * 4)}px;
  border-bottom: 1px solid $couleur-nclair;

  &__image {
    width: 15px;
    height: 15px;
    margin-bottom: 2px;
    outline: 1px solid transparent;
    transition: 0.2s outline;

    &:hover {
<<<<<<< HEAD
      outline: 1px solid black;
      cursor: pointer;
      transition: 0.2s outline;
=======
      cursor: pointer;
>>>>>>> 00b0b9e (Front : Wow)
    }
  }

  &__texte {
    @extend %texte-style-10;
  }
}
