// Chemmins
$ai: "../../assets/images";

// Tailles de la vue
$vue-ht: 667;
$vue-lg: 375;

// Marges
$marge-goutiere: 28;

// Couleurs
$couleur-c1: rgb(234 85 61 / 100%);
$couleur-c1--clair: rgb(231 168 158);
$couleur-c2: rgb(236 246 255 / 100%);
$couleur-c3: rgb(255 230 0 / 100%);
$couleur-c4: rgb(254 237 227 / 100%);
$couleur-c5: rgb(66 133 244 / 100%);
$couleur-c6: rgb(255 249 246 / 100%);
$couleur-c7: rgb(126 159 68 / 100%);
$couleur-c7--transparent: rgb(126 159 68 / 14%);
$couleur-blanc: rgb(255 255 255 / 100%);
$couleur-nfonce: rgb(35 35 35 / 100%);
$couleur-nmoyen: rgb(88 88 88 / 100%);
$couleur-nmoyen2: rgb(175 175 175 / 100%);
$couleur-nclair: rgb(220 220 220 / 100%);
$couleur-nmoyen--transparent: rgb(88 88 88 / 14%);
$couleur-bouton-ombre: rgb(0 0 0 / 25%);

// Typographie
$typo-ligne-hauteur: 1.6;
$typo-police-hind: hind;
$typo-police-roboto: roboto;
$typo-police-ubuntu: ubuntu;
$typo-casse-gras: 700;
$typo-casse-normal: 500;
$typo-casse-fin: 400;
$typo-casse-extrafin: 300;

// Styles
%texte-style-1 {
  font-weight: $typo-casse-gras;
  font-size: 28px;
  font-family: $typo-police-hind;
  line-height: 1;
}
%texte-style-2 {
  font-weight: $typo-casse-normal;
  font-size: 21px;
  font-family: $typo-police-roboto;
  line-height: 1.2;

  strong {
    font-weight: $typo-casse-gras;
  }
}
%texte-style-3 {
  font-weight: $typo-casse-fin;
  font-size: 18px;
  font-family: $typo-police-roboto;
  line-height: 1.2;
}
%texte-style-4 {
  font-weight: $typo-casse-extrafin;
  font-size: 18px;
  font-family: $typo-police-roboto;
  line-height: 1.2;

  strong {
    font-weight: $typo-casse-fin;
  }
}
%texte-style-5 {
  font-weight: $typo-casse-gras;
  font-size: 18px;
  font-family: $typo-police-hind;
  line-height: 1.6;

  strong {
    font-weight: $typo-casse-fin;
  }
}
%texte-style-6 {
  font-weight: $typo-casse-normal;
  font-size: 15px;
  font-family: $typo-police-roboto;
  line-height: 1.6;

  strong {
    font-weight: $typo-casse-fin;
  }
}
%texte-style-7 {
  font-weight: $typo-casse-gras;
  font-size: 28px;
  font-family: $typo-police-hind;
  line-height: 1;
}
%texte-style-8 {
  font-weight: $typo-casse-fin;
  font-size: 17px;
  font-family: $typo-police-roboto;
  line-height: 1.16;
}
%texte-style-9 {
  font-weight: $typo-casse-fin;
  font-size: 16px;
  font-family: $typo-police-hind;
  line-height: 1.2;
}
%texte-style-10 {
  font-weight: $typo-casse-normal;
  font-size: 17px;
  font-family: $typo-police-hind;
}
%texte-style-11 {
  font-weight: $typo-casse-fin;
  font-size: 14px;
  font-family: $typo-police-roboto;
  line-height: 1.2;

  strong {
    font-weight: $typo-casse-gras;
  }
}
%texte-style-12 {
  font-weight: $typo-casse-normal;
  font-size: 14px;
  font-family: $typo-police-hind;
}
%texte-style-13 {
  font-weight: $typo-casse-extrafin;
  font-size: 14px;
  font-family: $typo-police-roboto;
}
%texte-style-14 {
  font-weight: $typo-casse-gras;
  font-size: 16px;
  font-family: $typo-police-roboto;
  line-height: 1.2;
}

// Bouton
$bouton-style-ombre: 0 4px 8px $couleur-bouton-ombre;
$bouton-style-1-lg: 320;
$bouton-style-1-ht: 53;
$bouton-style-1-radius: 6;
$bouton-style-1-police-famille: $typo-police-hind;
$bouton-style-1-police-taille: 16;
$bouton-style-1-police-casse: $typo-casse-gras;
$bouton-style-2-lg: 160;
$bouton-style-2-ht: 36;
$bouton-style-2-radius: 6;
$bouton-style-2-police-famille: $typo-police-roboto;
$bouton-style-2-police-taille: 14;
$bouton-style-2-police-casse: $typo-casse-gras;
