.DS_Store
node_modules
/dist
pnpm-lock.yaml
package-lock.json


# Journaux
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log

# Cache
.eslintcache
.stylelintcache

# Editeur
.vscode
